* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f8f8fa;
    padding: 16px;
    color: rgb(87, 87, 87);

}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    width: fit-content;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0px 0 12px #c1c1c1;
    border-radius: 4px;
    background-color: white;
    padding: 18px;
}

.logo {
    margin: 22px auto;
}

.question {
    margin: 10px auto 20px;
}

.likely {
    display: flex;
    justify-content: space-around;
    font-size: 13px;

    p {
        color: #7a7a7a;
    }
}

.input {
    margin: 8px 2px 2px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(233, 2, 2);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 60px;
    font-size: 12px;
    outline: 0;
    // box-shadow: 0px 0 2px rgb(141, 141, 141);
    transition: all 0.2s linear;
}

// .input:not(:disable):hover {
//     // background-color: red;
//     transform: scale(1.2);
// }

.input:disabled {
    cursor: not-allowed;
}

.scale {
    transform: scale(1.2);
}


.input1 {
    background-color: #e73839;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #e73839;
        transform: scale(1.2);
    }
}

.input2 {
    background-color: #f44749;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:hover {
        transform: scale(1.2);
    }

    &:not(:disabled):hover {
        background-color: #f44749;
        transform: scale(1.2);
    }
}

.input3 {
    background-color: #fc664b;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #fc664b;
        transform: scale(1.2);
    }
}

.input4 {
    background-color: #fe8745;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #fe8745;
        transform: scale(1.2);
    }
}

.input5 {
    background-color: #fea73e;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #fea73e;
        transform: scale(1.2);
    }
}

.input6 {
    background-color: #ffc21f;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #ffc21f;
        transform: scale(1.2);
    }
}

.input7 {
    background-color: #e3c517;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #e3c517;
        transform: scale(1.2);
    }
}

.input8 {
    background-color: #c0cb0f;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #c0cb0f;
        transform: scale(1.2);
    }
}

.input9 {
    background-color: #7ccb00;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #7ccb00;
        transform: scale(1.2);
    }
}

.input10 {
    background-color: #31ab00;

    &:not(:disabled) {
        transform: scale(1);
    }

    &:not(:disabled):hover {
        background-color: #31ab00;
        transform: scale(1.2);
    }
}

.gray {
    background-color: #d2d2d2;

    &:not(:disabled):hover {
        transform: scale(1.2);
    }
}


.queryForm {
    height: 0px;
    overflow: hidden;
    transform: scale(0);
    transition: all 0.01s linear;
}

.sites-button {
    margin: 20px auto 0;

    width: 100%;

    button {
        border: none;
        outline: 0;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        margin: 8px auto;
        border-radius: 8px;

        a {
            width: 140px;
            padding: 12px 18px;
            display: flex;
            justify-content: flex-start;
            color: white;
            text-decoration: none;
        }
    }
}

.Yelp {
    background-color: #cd2222;
}

.Facebook {
    background-color: #3d548f;
}

.Google {
    background-color: #4484ea;
}



.query-button {
    margin: 10px auto;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    background-color: rgb(25, 92, 216);
    border: none;
    transition: all 0.3s ease-in-out;
}

.submit:disabled {
    background-color: gray;

    &:hover {

        background-color: gray;
    }
}

.query-button:hover {
    background-color: rgb(61, 129, 255);
}

.height {
    height: auto;
    transform: scale(1);
}

.text-area {
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;

}

.text-area-input::placeholder {
    font-size: 13px;
}

.text-area-input {
    color: rgb(58, 58, 58);
    font-weight: normal;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

.thankyou {
    display: none;
}

#reset {
    font-size: 11px;
    margin: 0px auto 0;
    color: rgb(61, 129, 255);
    cursor: pointer;
}


.display {
    display: block;
}

@media (min-width: 700px) {
    .container {
        margin: 80px auto;
        width: 680px
    }

}